body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u742 {
  position:absolute;
  left:10px;
  top:10px;
  width:480px;
  height:440px;
}
#u743 {
  position:absolute;
  left:2px;
  top:212px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u744 {
  position:absolute;
  left:250px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u745 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u746 {
  position:absolute;
  left:373px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u746_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u746.mouseOver {
}
#u746_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u746.mouseDown {
}
#u747 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u748 {
  position:absolute;
  left:30px;
  top:150px;
  width:435px;
  height:185px;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u750 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u751 {
  position:absolute;
  left:137px;
  top:0px;
  width:293px;
  height:30px;
}
#u752 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u753 {
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:30px;
}
#u754 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u755 {
  position:absolute;
  left:137px;
  top:30px;
  width:293px;
  height:30px;
}
#u756 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u757 {
  position:absolute;
  left:0px;
  top:60px;
  width:137px;
  height:30px;
}
#u758 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u759 {
  position:absolute;
  left:137px;
  top:60px;
  width:293px;
  height:30px;
}
#u760 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u761 {
  position:absolute;
  left:0px;
  top:90px;
  width:137px;
  height:30px;
}
#u762 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u763 {
  position:absolute;
  left:137px;
  top:90px;
  width:293px;
  height:30px;
}
#u764 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u765 {
  position:absolute;
  left:0px;
  top:120px;
  width:137px;
  height:30px;
}
#u766 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u767 {
  position:absolute;
  left:137px;
  top:120px;
  width:293px;
  height:30px;
}
#u768 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u769 {
  position:absolute;
  left:0px;
  top:150px;
  width:137px;
  height:30px;
}
#u770 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u771 {
  position:absolute;
  left:137px;
  top:150px;
  width:293px;
  height:30px;
}
#u772 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u773 {
  position:absolute;
  left:329px;
  top:92px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u774 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:400px;
  top:92px;
  width:60px;
  height:35px;
}
#u776 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u777 {
  position:absolute;
  left:178px;
  top:20px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u778 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
}
#u779 {
  position:absolute;
  left:30px;
  top:340px;
  width:306px;
  height:34px;
}
#u780 {
  position:absolute;
  left:2px;
  top:9px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u781 {
  position:absolute;
  left:326px;
  top:345px;
  width:134px;
  height:30px;
}
#u782 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u783 {
  position:absolute;
  left:457px;
  top:20px;
  width:20px;
  height:16px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:30px;
  top:92px;
  width:150px;
  height:36px;
}
#u787 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:32px;
  top:98px;
  width:146px;
  height:24px;
}
#u788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u789 {
  position:absolute;
  left:90px;
  top:158px;
  width:30px;
  height:16px;
}
#u790 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u791 {
  position:absolute;
  left:90px;
  top:187px;
  width:30px;
  height:16px;
}
#u792 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u793 {
  position:absolute;
  left:90px;
  top:216px;
  width:30px;
  height:16px;
}
#u794 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u795 {
  position:absolute;
  left:90px;
  top:246px;
  width:30px;
  height:16px;
}
#u796 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u797 {
  position:absolute;
  left:90px;
  top:275px;
  width:30px;
  height:16px;
}
#u798 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u799 {
  position:absolute;
  left:90px;
  top:304px;
  width:30px;
  height:16px;
}
#u800 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
