body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2116 {
  position:absolute;
  left:10px;
  top:10px;
  width:480px;
  height:440px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:212px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2118 {
  position:absolute;
  left:250px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2119 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2120 {
  position:absolute;
  left:373px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2120_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2120.mouseOver {
}
#u2120_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2120.mouseDown {
}
#u2121 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2122 {
  position:absolute;
  left:30px;
  top:150px;
  width:435px;
  height:185px;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2124 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2125 {
  position:absolute;
  left:137px;
  top:0px;
  width:293px;
  height:30px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:30px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2129 {
  position:absolute;
  left:137px;
  top:30px;
  width:293px;
  height:30px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:60px;
  width:137px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:137px;
  top:60px;
  width:293px;
  height:30px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:90px;
  width:137px;
  height:30px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:137px;
  top:90px;
  width:293px;
  height:30px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:120px;
  width:137px;
  height:30px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2141 {
  position:absolute;
  left:137px;
  top:120px;
  width:293px;
  height:30px;
}
#u2142 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:150px;
  width:137px;
  height:30px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:30px;
}
#u2145 {
  position:absolute;
  left:137px;
  top:150px;
  width:293px;
  height:30px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:7px;
  width:289px;
  word-wrap:break-word;
}
#u2147 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u2148 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2149 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u2150 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2151 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u2152 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2153 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u2154 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2155 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u2156 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2157 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u2158 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2159 {
  position:absolute;
  left:329px;
  top:92px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2160 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:400px;
  top:92px;
  width:60px;
  height:35px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2163 {
  position:absolute;
  left:178px;
  top:20px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
}
#u2165 {
  position:absolute;
  left:30px;
  top:340px;
  width:306px;
  height:34px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:9px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2167 {
  position:absolute;
  left:326px;
  top:345px;
  width:134px;
  height:30px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:457px;
  top:20px;
  width:20px;
  height:16px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2172 {
  position:absolute;
  left:30px;
  top:92px;
  width:150px;
  height:36px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174 {
  position:absolute;
  left:32px;
  top:98px;
  width:146px;
  height:24px;
}
#u2174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
