body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:334px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:378px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2346 {
  position:absolute;
  left:4px;
  top:2px;
  width:330px;
  height:378px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:181px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2348 {
  position:absolute;
  left:21px;
  top:14px;
  width:27px;
  height:16px;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u2350 {
  position:absolute;
  left:4px;
  top:47px;
  width:330px;
  height:1px;
}
#u2351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u2352 {
  position:absolute;
  left:85px;
  top:92px;
  width:200px;
  height:200px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  position:absolute;
  left:124px;
  top:314px;
  width:118px;
  height:16px;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
