body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2644 {
  position:absolute;
  left:18px;
  top:62px;
  width:1062px;
  height:268px;
}
#u2645 {
  position:absolute;
  left:2px;
  top:126px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2646 {
  position:absolute;
  left:51px;
  top:130px;
  width:152px;
  height:152px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2648 {
  position:absolute;
  left:300px;
  top:130px;
  width:152px;
  height:152px;
}
#u2649 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2650 {
  position:absolute;
  left:549px;
  top:130px;
  width:152px;
  height:152px;
}
#u2651 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2652 {
  position:absolute;
  left:798px;
  top:130px;
  width:152px;
  height:152px;
}
#u2653 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2654 {
  position:absolute;
  left:51px;
  top:77px;
  width:189px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u2655 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2656 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u2657 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2658 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u2659 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u2660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2660 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2661 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2662 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2663 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  position:absolute;
  left:18px;
  top:350px;
  width:1062px;
  height:440px;
}
#u2665 {
  position:absolute;
  left:2px;
  top:212px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2666 {
  position:absolute;
  left:51px;
  top:368px;
  width:129px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:280px;
}
#u2668 {
  position:absolute;
  left:51px;
  top:453px;
  width:475px;
  height:280px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:132px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2670 {
  position:absolute;
  left:230px;
  top:733px;
  width:127px;
  height:16px;
}
#u2671 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:280px;
}
#u2672 {
  position:absolute;
  left:548px;
  top:453px;
  width:482px;
  height:280px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:132px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2674 {
  position:absolute;
  left:740px;
  top:733px;
  width:99px;
  height:16px;
}
#u2675 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  position:absolute;
  left:73px;
  top:446px;
  width:29px;
  height:16px;
}
#u2677 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  position:absolute;
  left:561px;
  top:446px;
  width:15px;
  height:16px;
}
#u2679 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
