body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2698 {
  position:absolute;
  left:18px;
  top:62px;
  width:1062px;
  height:268px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:126px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2700 {
  position:absolute;
  left:51px;
  top:130px;
  width:152px;
  height:152px;
}
#u2701 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2702 {
  position:absolute;
  left:300px;
  top:130px;
  width:152px;
  height:152px;
}
#u2703 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2704 {
  position:absolute;
  left:549px;
  top:130px;
  width:152px;
  height:152px;
}
#u2705 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u2706 {
  position:absolute;
  left:798px;
  top:130px;
  width:152px;
  height:152px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:57px;
  width:148px;
  word-wrap:break-word;
}
#u2708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2708 {
  position:absolute;
  left:51px;
  top:77px;
  width:189px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2710 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2712 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u2714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2714 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2715 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2716 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2717 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2718 {
  position:absolute;
  left:18px;
  top:350px;
  width:1062px;
  height:440px;
}
#u2719 {
  position:absolute;
  left:2px;
  top:212px;
  width:1058px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u2720 {
  position:absolute;
  left:51px;
  top:368px;
  width:129px;
  height:22px;
  font-size:18px;
  text-align:center;
}
#u2721 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:280px;
}
#u2722 {
  position:absolute;
  left:51px;
  top:453px;
  width:475px;
  height:280px;
}
#u2723 {
  position:absolute;
  left:2px;
  top:132px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2724 {
  position:absolute;
  left:230px;
  top:733px;
  width:127px;
  height:16px;
}
#u2725 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:280px;
}
#u2726 {
  position:absolute;
  left:548px;
  top:453px;
  width:482px;
  height:280px;
}
#u2727 {
  position:absolute;
  left:2px;
  top:132px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2728 {
  position:absolute;
  left:740px;
  top:733px;
  width:99px;
  height:16px;
}
#u2729 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2730 {
  position:absolute;
  left:73px;
  top:446px;
  width:29px;
  height:16px;
}
#u2731 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2732 {
  position:absolute;
  left:561px;
  top:446px;
  width:15px;
  height:16px;
}
#u2733 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
