body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:750px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:367px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:668px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:20px;
  top:20px;
  width:320px;
  height:668px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1195 {
  position:absolute;
  left:30px;
  top:33px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1197 {
  position:absolute;
  left:20px;
  top:65px;
  width:320px;
  height:1px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199 {
  position:absolute;
  left:30px;
  top:77px;
  width:305px;
  height:95px;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1201 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1202 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1203 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:30px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1205 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1206 {
  position:absolute;
  left:150px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1207 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:30px;
  text-align:center;
}
#u1209 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u1210 {
  position:absolute;
  left:150px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1211 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u1212 {
  position:absolute;
  left:30px;
  top:108px;
  width:300px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1213 {
  position:absolute;
  left:344px;
  top:20px;
  width:590px;
  height:720px;
  overflow:hidden;
  visibility:hidden;
}
#u1213_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1213_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:40px;
  text-align:left;
}
#u1215 {
  position:absolute;
  left:2px;
  top:12px;
  width:586px;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1216 {
  position:absolute;
  left:328px;
  top:390px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1217 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  position:absolute;
  left:448px;
  top:390px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1219 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1220 {
  position:absolute;
  left:20px;
  top:60px;
  width:118px;
  height:16px;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:32px;
  top:124px;
  width:53px;
  height:16px;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  position:absolute;
  left:85px;
  top:119px;
  width:474px;
  height:35px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  position:absolute;
  left:20px;
  top:90px;
  width:99px;
  height:16px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u1228 {
  position:absolute;
  left:410px;
  top:80px;
  width:22px;
  height:25px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u1230 {
  position:absolute;
  left:490px;
  top:84px;
  width:22px;
  height:15px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1232 {
  position:absolute;
  left:436px;
  top:84px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1234 {
  position:absolute;
  left:513px;
  top:84px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u1235 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:42px;
}
#u1236 {
  position:absolute;
  left:28px;
  top:698px;
  width:306px;
  height:42px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:13px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
