body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:10px;
  top:10px;
  width:480px;
  height:430px;
}
#u672 {
  position:absolute;
  left:2px;
  top:207px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:250px;
  top:390px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u674 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u675 {
  position:absolute;
  left:373px;
  top:390px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u675_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u675.mouseOver {
}
#u675_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u675.mouseDown {
}
#u676 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:30px;
  top:150px;
  width:435px;
  height:185px;
}
#u678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u679 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u680 {
  position:absolute;
  left:96px;
  top:0px;
  width:191px;
  height:30px;
}
#u681 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u682 {
  position:absolute;
  left:287px;
  top:0px;
  width:143px;
  height:30px;
}
#u683 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u684 {
  position:absolute;
  left:0px;
  top:30px;
  width:96px;
  height:30px;
}
#u685 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u686 {
  position:absolute;
  left:96px;
  top:30px;
  width:191px;
  height:30px;
}
#u687 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u688 {
  position:absolute;
  left:287px;
  top:30px;
  width:143px;
  height:30px;
}
#u689 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u690 {
  position:absolute;
  left:0px;
  top:60px;
  width:96px;
  height:30px;
}
#u691 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u692 {
  position:absolute;
  left:96px;
  top:60px;
  width:191px;
  height:30px;
}
#u693 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u694 {
  position:absolute;
  left:287px;
  top:60px;
  width:143px;
  height:30px;
}
#u695 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u696 {
  position:absolute;
  left:0px;
  top:90px;
  width:96px;
  height:30px;
}
#u697 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u698 {
  position:absolute;
  left:96px;
  top:90px;
  width:191px;
  height:30px;
}
#u699 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u700 {
  position:absolute;
  left:287px;
  top:90px;
  width:143px;
  height:30px;
}
#u701 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u702 {
  position:absolute;
  left:0px;
  top:120px;
  width:96px;
  height:30px;
}
#u703 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u704 {
  position:absolute;
  left:96px;
  top:120px;
  width:191px;
  height:30px;
}
#u705 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u706 {
  position:absolute;
  left:287px;
  top:120px;
  width:143px;
  height:30px;
}
#u707 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u708 {
  position:absolute;
  left:0px;
  top:150px;
  width:96px;
  height:30px;
}
#u709 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:30px;
}
#u710 {
  position:absolute;
  left:96px;
  top:150px;
  width:191px;
  height:30px;
}
#u711 {
  position:absolute;
  left:2px;
  top:7px;
  width:187px;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u712 {
  position:absolute;
  left:287px;
  top:150px;
  width:143px;
  height:30px;
}
#u713 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u715 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u716 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u717 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u718 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u719 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u720 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u721 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u722 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u723 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u724 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u725 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u726 {
  position:absolute;
  left:329px;
  top:98px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u727 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:400px;
  top:98px;
  width:60px;
  height:35px;
}
#u729 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u730 {
  position:absolute;
  left:193px;
  top:21px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
}
#u732 {
  position:absolute;
  left:30px;
  top:336px;
  width:306px;
  height:34px;
}
#u733 {
  position:absolute;
  left:2px;
  top:9px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u734 {
  position:absolute;
  left:326px;
  top:340px;
  width:134px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:450px;
  top:21px;
  width:20px;
  height:16px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:32px;
  top:97px;
  width:150px;
  height:36px;
}
#u740 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:34px;
  top:103px;
  width:146px;
  height:24px;
}
#u741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
