body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:10px;
  top:10px;
  width:630px;
  height:460px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:222px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2961 {
  position:absolute;
  left:390px;
  top:420px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2962 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2963 {
  position:absolute;
  left:513px;
  top:420px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2963_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2963.mouseOver {
}
#u2963_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2963.mouseDown {
}
#u2964 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2965 {
  position:absolute;
  left:50px;
  top:150px;
  width:555px;
  height:185px;
}
#u2966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2968 {
  position:absolute;
  left:138px;
  top:0px;
  width:181px;
  height:30px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2970 {
  position:absolute;
  left:319px;
  top:0px;
  width:231px;
  height:30px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2972 {
  position:absolute;
  left:0px;
  top:30px;
  width:138px;
  height:30px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2974 {
  position:absolute;
  left:138px;
  top:30px;
  width:181px;
  height:30px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u2976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2976 {
  position:absolute;
  left:319px;
  top:30px;
  width:231px;
  height:30px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2978 {
  position:absolute;
  left:0px;
  top:60px;
  width:138px;
  height:30px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2980 {
  position:absolute;
  left:138px;
  top:60px;
  width:181px;
  height:30px;
}
#u2981 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2982 {
  position:absolute;
  left:319px;
  top:60px;
  width:231px;
  height:30px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2984 {
  position:absolute;
  left:0px;
  top:90px;
  width:138px;
  height:30px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2986 {
  position:absolute;
  left:138px;
  top:90px;
  width:181px;
  height:30px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u2988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2988 {
  position:absolute;
  left:319px;
  top:90px;
  width:231px;
  height:30px;
}
#u2989 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2990 {
  position:absolute;
  left:0px;
  top:120px;
  width:138px;
  height:30px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2992 {
  position:absolute;
  left:138px;
  top:120px;
  width:181px;
  height:30px;
}
#u2993 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u2994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2994 {
  position:absolute;
  left:319px;
  top:120px;
  width:231px;
  height:30px;
}
#u2995 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2996 {
  position:absolute;
  left:0px;
  top:150px;
  width:138px;
  height:30px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u2998 {
  position:absolute;
  left:138px;
  top:150px;
  width:181px;
  height:30px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u3000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u3000 {
  position:absolute;
  left:319px;
  top:150px;
  width:231px;
  height:30px;
}
#u3001 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u3002 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u3003 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3002_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3004 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u3005 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3006 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u3007 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3006_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3008 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u3009 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3010 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u3011 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3010_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3012 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u3013 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3015 {
  position:absolute;
  left:230px;
  top:97px;
  width:150px;
  height:36px;
}
#u3016 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3017 {
  position:absolute;
  left:232px;
  top:103px;
  width:146px;
  height:24px;
}
#u3017_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3018 {
  position:absolute;
  left:469px;
  top:98px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3019 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3020 {
  position:absolute;
  left:540px;
  top:98px;
  width:60px;
  height:35px;
}
#u3021 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u3022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3022 {
  position:absolute;
  left:298px;
  top:21px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
}
#u3024 {
  position:absolute;
  left:50px;
  top:345px;
  width:306px;
  height:34px;
}
#u3025 {
  position:absolute;
  left:2px;
  top:9px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u3026 {
  position:absolute;
  left:466px;
  top:349px;
  width:134px;
  height:30px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3028 {
  position:absolute;
  left:610px;
  top:24px;
  width:20px;
  height:16px;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3031 {
  position:absolute;
  left:50px;
  top:97px;
  width:150px;
  height:36px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033 {
  position:absolute;
  left:52px;
  top:103px;
  width:146px;
  height:24px;
}
#u3033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
