body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:10px;
  top:10px;
  width:630px;
  height:460px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:222px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:390px;
  top:420px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1995 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:513px;
  top:420px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1996_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1996.mouseOver {
}
#u1996_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1996.mouseDown {
}
#u1997 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1998 {
  position:absolute;
  left:50px;
  top:150px;
  width:559px;
  height:185px;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:138px;
  top:0px;
  width:231px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:369px;
  top:0px;
  width:185px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:0px;
  top:30px;
  width:138px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:138px;
  top:30px;
  width:231px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:369px;
  top:30px;
  width:185px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:60px;
  width:138px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:138px;
  top:60px;
  width:231px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:369px;
  top:60px;
  width:185px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:90px;
  width:138px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:138px;
  top:90px;
  width:231px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:369px;
  top:90px;
  width:185px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:120px;
  width:138px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:138px;
  top:120px;
  width:231px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:369px;
  top:120px;
  width:185px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:150px;
  width:138px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:138px;
  top:150px;
  width:231px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:7px;
  width:227px;
  word-wrap:break-word;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:369px;
  top:150px;
  width:185px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2034 {
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u2035 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u2036 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2037 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u2038 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2039 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u2040 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2039_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2041 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u2042 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2043 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u2044 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2045 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u2046 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:230px;
  top:97px;
  width:150px;
  height:36px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050 {
  position:absolute;
  left:232px;
  top:103px;
  width:146px;
  height:24px;
}
#u2050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2051 {
  position:absolute;
  left:469px;
  top:98px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2052 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:540px;
  top:98px;
  width:60px;
  height:35px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2055 {
  position:absolute;
  left:298px;
  top:21px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
}
#u2057 {
  position:absolute;
  left:50px;
  top:345px;
  width:306px;
  height:34px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:9px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2059 {
  position:absolute;
  left:466px;
  top:349px;
  width:134px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2061 {
  position:absolute;
  left:610px;
  top:24px;
  width:20px;
  height:16px;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:50px;
  top:97px;
  width:150px;
  height:36px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066 {
  position:absolute;
  left:52px;
  top:103px;
  width:146px;
  height:24px;
}
#u2066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
