body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2912 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  height:440px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:212px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2914 {
  position:absolute;
  left:280px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2915 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2916 {
  position:absolute;
  left:403px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2916_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2916.mouseOver {
}
#u2916_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2916.mouseDown {
}
#u2917 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2918 {
  position:absolute;
  left:50px;
  top:150px;
  width:445px;
  height:185px;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2921 {
  position:absolute;
  left:95px;
  top:0px;
  width:199px;
  height:30px;
}
#u2922 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2923 {
  position:absolute;
  left:294px;
  top:0px;
  width:146px;
  height:30px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2925 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u2926 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2927 {
  position:absolute;
  left:95px;
  top:30px;
  width:199px;
  height:30px;
}
#u2928 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2929 {
  position:absolute;
  left:294px;
  top:30px;
  width:146px;
  height:30px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2933 {
  position:absolute;
  left:95px;
  top:60px;
  width:199px;
  height:30px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2935 {
  position:absolute;
  left:294px;
  top:60px;
  width:146px;
  height:30px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2937 {
  position:absolute;
  left:0px;
  top:90px;
  width:95px;
  height:30px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2939 {
  position:absolute;
  left:95px;
  top:90px;
  width:199px;
  height:30px;
}
#u2940 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2941 {
  position:absolute;
  left:294px;
  top:90px;
  width:146px;
  height:30px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2943 {
  position:absolute;
  left:0px;
  top:120px;
  width:95px;
  height:30px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2945 {
  position:absolute;
  left:95px;
  top:120px;
  width:199px;
  height:30px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2947 {
  position:absolute;
  left:294px;
  top:120px;
  width:146px;
  height:30px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:150px;
  width:95px;
  height:30px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2951 {
  position:absolute;
  left:95px;
  top:150px;
  width:199px;
  height:30px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2953 {
  position:absolute;
  left:294px;
  top:150px;
  width:146px;
  height:30px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u2956 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2957 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u2958 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2959 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u2960 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2961 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u2962 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2963 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u2964 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2963_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2965 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u2966 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2968 {
  position:absolute;
  left:50px;
  top:91px;
  width:280px;
  height:36px;
}
#u2969 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970 {
  position:absolute;
  left:54px;
  top:97px;
  width:272px;
  height:24px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2971 {
  position:absolute;
  left:359px;
  top:92px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2972 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2973 {
  position:absolute;
  left:430px;
  top:92px;
  width:60px;
  height:35px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2975 {
  position:absolute;
  left:238px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:42px;
}
#u2977 {
  position:absolute;
  left:50px;
  top:337px;
  width:306px;
  height:42px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:13px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2979 {
  position:absolute;
  left:356px;
  top:350px;
  width:134px;
  height:30px;
}
#u2980 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2981 {
  position:absolute;
  left:500px;
  top:20px;
  width:20px;
  height:16px;
}
#u2982 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
