body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1926 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  height:440px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:212px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1928 {
  position:absolute;
  left:280px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1929 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1930 {
  position:absolute;
  left:403px;
  top:400px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u1930_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1930.mouseOver {
}
#u1930_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1930.mouseDown {
}
#u1931 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u1932 {
  position:absolute;
  left:50px;
  top:150px;
  width:445px;
  height:185px;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1935 {
  position:absolute;
  left:95px;
  top:0px;
  width:199px;
  height:30px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:294px;
  top:0px;
  width:146px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1939 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:30px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:95px;
  top:30px;
  width:199px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:294px;
  top:30px;
  width:146px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:60px;
  width:95px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1947 {
  position:absolute;
  left:95px;
  top:60px;
  width:199px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:294px;
  top:60px;
  width:146px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:0px;
  top:90px;
  width:95px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:95px;
  top:90px;
  width:199px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:294px;
  top:90px;
  width:146px;
  height:30px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:120px;
  width:95px;
  height:30px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:95px;
  top:120px;
  width:199px;
  height:30px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:294px;
  top:120px;
  width:146px;
  height:30px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:150px;
  width:95px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:95px;
  top:150px;
  width:199px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:7px;
  width:195px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:294px;
  top:150px;
  width:146px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:90px;
  top:164px;
  width:30px;
  height:16px;
}
#u1970 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1971 {
  position:absolute;
  left:90px;
  top:195px;
  width:30px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1973 {
  position:absolute;
  left:90px;
  top:221px;
  width:30px;
  height:16px;
}
#u1974 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1975 {
  position:absolute;
  left:90px;
  top:254px;
  width:30px;
  height:16px;
}
#u1976 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1977 {
  position:absolute;
  left:90px;
  top:285px;
  width:30px;
  height:16px;
}
#u1978 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1979 {
  position:absolute;
  left:90px;
  top:311px;
  width:30px;
  height:16px;
}
#u1980 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:50px;
  top:91px;
  width:280px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984 {
  position:absolute;
  left:54px;
  top:97px;
  width:272px;
  height:24px;
}
#u1984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:359px;
  top:92px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1986 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:430px;
  top:92px;
  width:60px;
  height:35px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1989 {
  position:absolute;
  left:238px;
  top:24px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:42px;
}
#u1991 {
  position:absolute;
  left:50px;
  top:337px;
  width:306px;
  height:42px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:13px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:356px;
  top:350px;
  width:134px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:500px;
  top:20px;
  width:20px;
  height:16px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
