body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:470px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:470px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:227px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2214 {
  position:absolute;
  left:17px;
  top:16px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:2px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:52px;
  width:660px;
  height:1px;
}
#u2217 {
  position:absolute;
  left:2px;
  top:-8px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2218 {
  position:absolute;
  left:336px;
  top:122px;
  width:80px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2219 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2220 {
  position:absolute;
  left:17px;
  top:132px;
  width:66px;
  height:16px;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2222 {
  position:absolute;
  left:85px;
  top:120px;
  width:233px;
  height:43px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:14px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2224 {
  position:absolute;
  left:17px;
  top:80px;
  width:66px;
  height:16px;
}
#u2225 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2226 {
  position:absolute;
  left:470px;
  top:360px;
  width:80px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2227 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u2228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  position:absolute;
  left:27px;
  top:192px;
  width:53px;
  height:16px;
}
#u2229 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2230 {
  position:absolute;
  left:85px;
  top:180px;
  width:485px;
  height:43px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:14px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  position:absolute;
  left:10px;
  top:244px;
  width:71px;
  height:16px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2235 {
  position:absolute;
  left:100px;
  top:244px;
  width:100px;
  height:16px;
}
#u2236 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2237 {
  position:absolute;
  left:190px;
  top:244px;
  width:100px;
  height:16px;
}
#u2238 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:46px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2239 {
  position:absolute;
  left:280px;
  top:233px;
  width:230px;
  height:46px;
}
#u2240 {
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2241 {
  position:absolute;
  left:370px;
  top:360px;
  width:80px;
  height:38px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2242 {
  position:absolute;
  left:2px;
  top:11px;
  width:76px;
  word-wrap:break-word;
}
#u2243 {
  position:absolute;
  left:86px;
  top:80px;
  width:67px;
  height:16px;
}
#u2244 {
  position:absolute;
  left:16px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2245 {
  position:absolute;
  left:167px;
  top:80px;
  width:67px;
  height:16px;
}
#u2246 {
  position:absolute;
  left:16px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2247 {
  position:absolute;
  left:248px;
  top:80px;
  width:67px;
  height:16px;
}
#u2248 {
  position:absolute;
  left:16px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2249 {
  position:absolute;
  left:329px;
  top:80px;
  width:86px;
  height:16px;
}
#u2250 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2249_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2251 {
  position:absolute;
  left:429px;
  top:80px;
  width:84px;
  height:16px;
}
#u2252 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2251_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
