body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:696px;
}
#u35 {
  position:absolute;
  left:95px;
  top:0px;
  width:566px;
  height:696px;
}
#u36 {
  position:absolute;
  left:2px;
  top:340px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
