body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2467 {
  position:absolute;
  left:406px;
  top:360px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2468 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2469 {
  position:absolute;
  left:17px;
  top:63px;
  width:518px;
  height:105px;
}
#u2470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u2470 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2471 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u2472 {
  position:absolute;
  left:95px;
  top:0px;
  width:247px;
  height:30px;
  text-align:center;
}
#u2473 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u2474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u2474 {
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2475 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2476 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:35px;
  text-align:center;
}
#u2477 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u2478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:35px;
}
#u2478 {
  position:absolute;
  left:95px;
  top:30px;
  width:247px;
  height:35px;
  text-align:center;
}
#u2479 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u2480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2480 {
  position:absolute;
  left:342px;
  top:30px;
  width:171px;
  height:35px;
  text-align:center;
}
#u2481 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u2482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u2482 {
  position:absolute;
  left:0px;
  top:65px;
  width:95px;
  height:35px;
  text-align:center;
}
#u2483 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u2484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:35px;
}
#u2484 {
  position:absolute;
  left:95px;
  top:65px;
  width:247px;
  height:35px;
  text-align:center;
}
#u2485 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u2486 {
  position:absolute;
  left:342px;
  top:65px;
  width:171px;
  height:35px;
  text-align:center;
}
#u2487 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2488 {
  position:absolute;
  left:428px;
  top:138px;
  width:22px;
  height:22px;
}
#u2489 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2490 {
  position:absolute;
  left:22px;
  top:16px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u2491 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2492 {
  position:absolute;
  left:290px;
  top:360px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2493 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
