body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1196 {
  position:absolute;
  left:406px;
  top:360px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1197 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u1198 {
  position:absolute;
  left:17px;
  top:63px;
  width:518px;
  height:105px;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1200 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:30px;
}
#u1201 {
  position:absolute;
  left:95px;
  top:0px;
  width:247px;
  height:30px;
  text-align:center;
}
#u1202 {
  position:absolute;
  left:2px;
  top:7px;
  width:243px;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u1203 {
  position:absolute;
  left:342px;
  top:0px;
  width:171px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u1204 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:30px;
  width:95px;
  height:35px;
  text-align:center;
}
#u1206 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:35px;
}
#u1207 {
  position:absolute;
  left:95px;
  top:30px;
  width:247px;
  height:35px;
  text-align:center;
}
#u1208 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u1209 {
  position:absolute;
  left:342px;
  top:30px;
  width:171px;
  height:35px;
  text-align:center;
}
#u1210 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
}
#u1211 {
  position:absolute;
  left:0px;
  top:65px;
  width:95px;
  height:35px;
  text-align:center;
}
#u1212 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:35px;
}
#u1213 {
  position:absolute;
  left:95px;
  top:65px;
  width:247px;
  height:35px;
  text-align:center;
}
#u1214 {
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u1215 {
  position:absolute;
  left:342px;
  top:65px;
  width:171px;
  height:35px;
  text-align:center;
}
#u1216 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1217 {
  position:absolute;
  left:428px;
  top:138px;
  width:22px;
  height:22px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u1219 {
  position:absolute;
  left:22px;
  top:16px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1221 {
  position:absolute;
  left:290px;
  top:360px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
