body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2806 {
  position:absolute;
  left:30px;
  top:123px;
  width:885px;
  height:504px;
}
#u2807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u2807 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2808 {
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u2809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u2809 {
  position:absolute;
  left:97px;
  top:0px;
  width:133px;
  height:30px;
  text-align:center;
}
#u2810 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u2811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u2811 {
  position:absolute;
  left:230px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2812 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u2813 {
  position:absolute;
  left:395px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2814 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
}
#u2815 {
  position:absolute;
  left:541px;
  top:0px;
  width:164px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2816 {
  position:absolute;
  left:2px;
  top:7px;
  width:160px;
  word-wrap:break-word;
}
#u2817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u2817 {
  position:absolute;
  left:705px;
  top:0px;
  width:175px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2818 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u2819 {
  position:absolute;
  left:0px;
  top:30px;
  width:97px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2820 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u2821 {
  position:absolute;
  left:97px;
  top:30px;
  width:133px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2822 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u2823 {
  position:absolute;
  left:230px;
  top:30px;
  width:165px;
  height:46px;
  text-align:center;
}
#u2824 {
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  word-wrap:break-word;
}
#u2825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u2825 {
  position:absolute;
  left:395px;
  top:30px;
  width:146px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2826 {
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:46px;
}
#u2827 {
  position:absolute;
  left:541px;
  top:30px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2828 {
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u2829 {
  position:absolute;
  left:705px;
  top:30px;
  width:175px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2830 {
  position:absolute;
  left:2px;
  top:15px;
  width:171px;
  word-wrap:break-word;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u2831 {
  position:absolute;
  left:0px;
  top:76px;
  width:97px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2832 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u2833 {
  position:absolute;
  left:97px;
  top:76px;
  width:133px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2834 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u2835 {
  position:absolute;
  left:230px;
  top:76px;
  width:165px;
  height:46px;
  text-align:center;
}
#u2836 {
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u2837 {
  position:absolute;
  left:395px;
  top:76px;
  width:146px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2838 {
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  word-wrap:break-word;
}
#u2839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:46px;
}
#u2839 {
  position:absolute;
  left:541px;
  top:76px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2840 {
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u2841 {
  position:absolute;
  left:705px;
  top:76px;
  width:175px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2842 {
  position:absolute;
  left:2px;
  top:15px;
  width:171px;
  word-wrap:break-word;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u2843 {
  position:absolute;
  left:0px;
  top:122px;
  width:97px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2844 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u2845 {
  position:absolute;
  left:97px;
  top:122px;
  width:133px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2846 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u2847 {
  position:absolute;
  left:230px;
  top:122px;
  width:165px;
  height:46px;
  text-align:center;
}
#u2848 {
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  word-wrap:break-word;
}
#u2849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u2849 {
  position:absolute;
  left:395px;
  top:122px;
  width:146px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2850 {
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  word-wrap:break-word;
}
#u2851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:46px;
}
#u2851 {
  position:absolute;
  left:541px;
  top:122px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2852 {
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u2853 {
  position:absolute;
  left:705px;
  top:122px;
  width:175px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2854 {
  position:absolute;
  left:2px;
  top:15px;
  width:171px;
  word-wrap:break-word;
}
#u2855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:46px;
}
#u2855 {
  position:absolute;
  left:0px;
  top:168px;
  width:97px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2856 {
  position:absolute;
  left:2px;
  top:15px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:46px;
}
#u2857 {
  position:absolute;
  left:97px;
  top:168px;
  width:133px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2858 {
  position:absolute;
  left:2px;
  top:15px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u2859 {
  position:absolute;
  left:230px;
  top:168px;
  width:165px;
  height:46px;
  text-align:center;
}
#u2860 {
  position:absolute;
  left:2px;
  top:15px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u2861 {
  position:absolute;
  left:395px;
  top:168px;
  width:146px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2862 {
  position:absolute;
  left:2px;
  top:15px;
  width:142px;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:46px;
}
#u2863 {
  position:absolute;
  left:541px;
  top:168px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2864 {
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:46px;
}
#u2865 {
  position:absolute;
  left:705px;
  top:168px;
  width:175px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2866 {
  position:absolute;
  left:2px;
  top:15px;
  width:171px;
  word-wrap:break-word;
}
#u2867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:50px;
}
#u2867 {
  position:absolute;
  left:0px;
  top:214px;
  width:97px;
  height:50px;
  text-align:center;
}
#u2868 {
  position:absolute;
  left:2px;
  top:17px;
  width:93px;
  word-wrap:break-word;
}
#u2869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:50px;
}
#u2869 {
  position:absolute;
  left:97px;
  top:214px;
  width:133px;
  height:50px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2870 {
  position:absolute;
  left:2px;
  top:17px;
  width:129px;
  word-wrap:break-word;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
}
#u2871 {
  position:absolute;
  left:230px;
  top:214px;
  width:165px;
  height:50px;
  text-align:center;
}
#u2872 {
  position:absolute;
  left:2px;
  top:17px;
  width:161px;
  word-wrap:break-word;
}
#u2873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:50px;
}
#u2873 {
  position:absolute;
  left:395px;
  top:214px;
  width:146px;
  height:50px;
  text-align:center;
}
#u2874 {
  position:absolute;
  left:2px;
  top:17px;
  width:142px;
  word-wrap:break-word;
}
#u2875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:50px;
}
#u2875 {
  position:absolute;
  left:541px;
  top:214px;
  width:164px;
  height:50px;
  color:#FF0000;
  text-align:center;
}
#u2876 {
  position:absolute;
  left:2px;
  top:17px;
  width:160px;
  word-wrap:break-word;
}
#u2877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u2877 {
  position:absolute;
  left:705px;
  top:214px;
  width:175px;
  height:50px;
  text-align:center;
}
#u2878 {
  position:absolute;
  left:2px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u2879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:47px;
}
#u2879 {
  position:absolute;
  left:0px;
  top:264px;
  width:97px;
  height:47px;
  text-align:center;
}
#u2880 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u2881 {
  position:absolute;
  left:97px;
  top:264px;
  width:133px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2882 {
  position:absolute;
  left:2px;
  top:16px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2883 {
  position:absolute;
  left:230px;
  top:264px;
  width:165px;
  height:47px;
  text-align:center;
}
#u2884 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u2885 {
  position:absolute;
  left:395px;
  top:264px;
  width:146px;
  height:47px;
  text-align:center;
}
#u2886 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u2887 {
  position:absolute;
  left:541px;
  top:264px;
  width:164px;
  height:47px;
  color:#FF0000;
  text-align:center;
}
#u2888 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u2889 {
  position:absolute;
  left:705px;
  top:264px;
  width:175px;
  height:47px;
  text-align:center;
}
#u2890 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:47px;
}
#u2891 {
  position:absolute;
  left:0px;
  top:311px;
  width:97px;
  height:47px;
  text-align:center;
}
#u2892 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u2893 {
  position:absolute;
  left:97px;
  top:311px;
  width:133px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2894 {
  position:absolute;
  left:2px;
  top:16px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2895 {
  position:absolute;
  left:230px;
  top:311px;
  width:165px;
  height:47px;
  text-align:center;
}
#u2896 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u2897 {
  position:absolute;
  left:395px;
  top:311px;
  width:146px;
  height:47px;
  text-align:center;
}
#u2898 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u2899 {
  position:absolute;
  left:541px;
  top:311px;
  width:164px;
  height:47px;
  text-align:center;
}
#u2900 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u2901 {
  position:absolute;
  left:705px;
  top:311px;
  width:175px;
  height:47px;
  text-align:center;
}
#u2902 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:47px;
}
#u2903 {
  position:absolute;
  left:0px;
  top:358px;
  width:97px;
  height:47px;
  text-align:center;
}
#u2904 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u2905 {
  position:absolute;
  left:97px;
  top:358px;
  width:133px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2906 {
  position:absolute;
  left:2px;
  top:16px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2907 {
  position:absolute;
  left:230px;
  top:358px;
  width:165px;
  height:47px;
  text-align:center;
}
#u2908 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u2909 {
  position:absolute;
  left:395px;
  top:358px;
  width:146px;
  height:47px;
  text-align:center;
}
#u2910 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u2911 {
  position:absolute;
  left:541px;
  top:358px;
  width:164px;
  height:47px;
  color:#FF0000;
  text-align:center;
}
#u2912 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u2913 {
  position:absolute;
  left:705px;
  top:358px;
  width:175px;
  height:47px;
  text-align:center;
}
#u2914 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:47px;
}
#u2915 {
  position:absolute;
  left:0px;
  top:405px;
  width:97px;
  height:47px;
  text-align:center;
}
#u2916 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  word-wrap:break-word;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u2917 {
  position:absolute;
  left:97px;
  top:405px;
  width:133px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2918 {
  position:absolute;
  left:2px;
  top:16px;
  width:129px;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2919 {
  position:absolute;
  left:230px;
  top:405px;
  width:165px;
  height:47px;
  text-align:center;
}
#u2920 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u2921 {
  position:absolute;
  left:395px;
  top:405px;
  width:146px;
  height:47px;
  text-align:center;
}
#u2922 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u2923 {
  position:absolute;
  left:541px;
  top:405px;
  width:164px;
  height:47px;
  text-align:center;
}
#u2924 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u2925 {
  position:absolute;
  left:705px;
  top:405px;
  width:175px;
  height:47px;
  text-align:center;
}
#u2926 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:47px;
}
#u2927 {
  position:absolute;
  left:0px;
  top:452px;
  width:97px;
  height:47px;
  text-align:center;
}
#u2928 {
  position:absolute;
  left:2px;
  top:16px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:47px;
}
#u2929 {
  position:absolute;
  left:97px;
  top:452px;
  width:133px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2930 {
  position:absolute;
  left:2px;
  top:16px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2931 {
  position:absolute;
  left:230px;
  top:452px;
  width:165px;
  height:47px;
  text-align:center;
}
#u2932 {
  position:absolute;
  left:2px;
  top:16px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u2933 {
  position:absolute;
  left:395px;
  top:452px;
  width:146px;
  height:47px;
  text-align:center;
}
#u2934 {
  position:absolute;
  left:2px;
  top:16px;
  width:142px;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:47px;
}
#u2935 {
  position:absolute;
  left:541px;
  top:452px;
  width:164px;
  height:47px;
  text-align:center;
}
#u2936 {
  position:absolute;
  left:2px;
  top:16px;
  width:160px;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:47px;
}
#u2937 {
  position:absolute;
  left:705px;
  top:452px;
  width:175px;
  height:47px;
  text-align:center;
}
#u2938 {
  position:absolute;
  left:2px;
  top:16px;
  width:171px;
  word-wrap:break-word;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:90px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2939 {
  position:absolute;
  left:980px;
  top:530px;
  width:60px;
  height:90px;
}
#u2940 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:180px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2941 {
  position:absolute;
  left:980px;
  top:150px;
  width:60px;
  height:180px;
}
#u2942 {
  position:absolute;
  left:10px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2943 {
  position:absolute;
  left:35px;
  top:81px;
  width:66px;
  height:16px;
}
#u2944 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2945 {
  position:absolute;
  left:111px;
  top:78px;
  width:105px;
  height:22px;
}
#u2945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2945_input:disabled {
  color:grayText;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u2950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2951 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2952 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2953 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2954 {
  position:absolute;
  left:779px;
  top:73px;
  width:60px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2955 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2956 {
  position:absolute;
  left:850px;
  top:73px;
  width:60px;
  height:35px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  position:absolute;
  left:240px;
  top:81px;
  width:66px;
  height:16px;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2958_ann {
  position:absolute;
  left:299px;
  top:77px;
  width:1px;
  height:1px;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2960 {
  position:absolute;
  left:313px;
  top:74px;
  width:120px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2961 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  position:absolute;
  left:453px;
  top:81px;
  width:24px;
  height:16px;
}
#u2963 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2964 {
  position:absolute;
  left:483px;
  top:73px;
  width:120px;
  height:32px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2965 {
  position:absolute;
  left:2px;
  top:8px;
  width:116px;
  word-wrap:break-word;
}
