body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:750px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:10px;
  top:10px;
  width:640px;
  height:750px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:367px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2104 {
  position:absolute;
  left:380px;
  top:735px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2105 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:503px;
  top:735px;
  width:87px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u2106_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2106.mouseOver {
}
#u2106_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.8);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u2106.mouseDown {
}
#u2107 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:40px;
  top:268px;
  width:57px;
  height:16px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2110 {
  position:absolute;
  left:137px;
  top:261px;
  width:110px;
  height:30px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2112 {
  position:absolute;
  left:267px;
  top:261px;
  width:110px;
  height:30px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2114 {
  position:absolute;
  left:40px;
  top:422px;
  width:57px;
  height:16px;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2116 {
  position:absolute;
  left:40px;
  top:124px;
  width:57px;
  height:16px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2118 {
  position:absolute;
  left:140px;
  top:117px;
  width:237px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:7px;
  width:233px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2120 {
  position:absolute;
  left:408px;
  top:362px;
  width:22px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2121 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:140px;
  top:163px;
  width:237px;
  height:34px;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:20px;
  top:9px;
  width:215px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2124 {
  position:absolute;
  left:408px;
  top:167px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u2125 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2126 {
  position:absolute;
  left:140px;
  top:205px;
  width:237px;
  height:34px;
  text-align:left;
}
#u2127 {
  position:absolute;
  left:20px;
  top:9px;
  width:215px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2128 {
  position:absolute;
  left:408px;
  top:209px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u2129 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2130 {
  position:absolute;
  left:137px;
  top:308px;
  width:110px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2132 {
  position:absolute;
  left:267px;
  top:308px;
  width:110px;
  height:30px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  position:absolute;
  left:137px;
  top:358px;
  width:110px;
  height:30px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2136 {
  position:absolute;
  left:267px;
  top:358px;
  width:110px;
  height:30px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:137px;
  top:415px;
  width:237px;
  height:30px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:7px;
  width:233px;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2140 {
  position:absolute;
  left:137px;
  top:467px;
  width:406px;
  height:34px;
  text-align:left;
}
#u2141 {
  position:absolute;
  left:20px;
  top:9px;
  width:384px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2142 {
  position:absolute;
  left:515px;
  top:474px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u2143 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:230px;
  top:24px;
  width:57px;
  height:16px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:600px;
  top:24px;
  width:20px;
  height:16px;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2148 {
  position:absolute;
  left:140px;
  top:600px;
  width:406px;
  height:34px;
  text-align:left;
}
#u2149 {
  position:absolute;
  left:20px;
  top:9px;
  width:384px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2150 {
  position:absolute;
  left:515px;
  top:607px;
  width:20px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
}
#u2151 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2152 {
  position:absolute;
  left:137px;
  top:500px;
  width:406px;
  height:38px;
  text-align:left;
}
#u2153 {
  position:absolute;
  left:20px;
  top:11px;
  width:384px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2154 {
  position:absolute;
  left:137px;
  top:536px;
  width:406px;
  height:38px;
  text-align:left;
}
#u2155 {
  position:absolute;
  left:20px;
  top:11px;
  width:384px;
  word-wrap:break-word;
}
#u2156 {
  position:absolute;
  left:390px;
  top:508px;
  width:120px;
  height:22px;
}
#u2156_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2156_input:disabled {
  color:grayText;
}
#u2156_ann {
  position:absolute;
  left:503px;
  top:504px;
  width:1px;
  height:1px;
}
#u2157 {
  position:absolute;
  left:390px;
  top:544px;
  width:120px;
  height:22px;
}
#u2157_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2157_input:disabled {
  color:grayText;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2158 {
  position:absolute;
  left:140px;
  top:633px;
  width:406px;
  height:38px;
  text-align:left;
}
#u2159 {
  position:absolute;
  left:20px;
  top:11px;
  width:384px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2160 {
  position:absolute;
  left:140px;
  top:669px;
  width:406px;
  height:38px;
  text-align:left;
}
#u2161 {
  position:absolute;
  left:20px;
  top:11px;
  width:384px;
  word-wrap:break-word;
}
#u2162 {
  position:absolute;
  left:393px;
  top:641px;
  width:120px;
  height:22px;
}
#u2162_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2162_input:disabled {
  color:grayText;
}
#u2163 {
  position:absolute;
  left:393px;
  top:677px;
  width:120px;
  height:22px;
}
#u2163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2163_input:disabled {
  color:grayText;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2164 {
  position:absolute;
  left:408px;
  top:268px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u2165 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2166 {
  position:absolute;
  left:408px;
  top:315px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u2167 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2168 {
  position:absolute;
  left:40px;
  top:84px;
  width:57px;
  height:16px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:140px;
  top:72px;
  width:237px;
  height:31px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:8px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:154px;
  top:76px;
  width:216px;
  height:24px;
}
#u2173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
