body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 64, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:70px;
  width:180px;
  height:600px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:600px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:2px;
  top:53px;
  width:163px;
  height:40px;
}
#u13_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13.selected {
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u15 {
  position:absolute;
  left:13px;
  top:63px;
  width:22px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:2px;
  top:94px;
  width:163px;
  height:40px;
}
#u17_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u19 {
  position:absolute;
  left:13px;
  top:104px;
  width:22px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:2px;
  top:135px;
  width:164px;
  height:40px;
}
#u21_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21.selected {
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:2px;
  top:176px;
  width:164px;
  height:40px;
}
#u23_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23.selected {
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:2px;
  top:259px;
  width:164px;
  height:40px;
}
#u25_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25.selected {
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:2px;
  top:300px;
  width:164px;
  height:40px;
}
#u27_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:2px;
  top:341px;
  width:164px;
  height:40px;
}
#u29_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29.selected {
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:2px;
  top:382px;
  width:164px;
  height:40px;
}
#u31_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31.selected {
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  position:absolute;
  left:2px;
  top:423px;
  width:164px;
  height:40px;
}
#u33_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33.selected {
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:2px;
  top:217px;
  width:164px;
  height:40px;
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  height:40px;
}
#u37_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u39 {
  position:absolute;
  left:13px;
  top:22px;
  width:22px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u41 {
  position:absolute;
  left:13px;
  top:144px;
  width:22px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u43 {
  position:absolute;
  left:13px;
  top:185px;
  width:22px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u45 {
  position:absolute;
  left:13px;
  top:226px;
  width:22px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u47 {
  position:absolute;
  left:13px;
  top:267px;
  width:22px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u49 {
  position:absolute;
  left:13px;
  top:309px;
  width:22px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u51 {
  position:absolute;
  left:13px;
  top:352px;
  width:22px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u53 {
  position:absolute;
  left:13px;
  top:393px;
  width:22px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u55 {
  position:absolute;
  left:13px;
  top:433px;
  width:22px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:2px;
  top:464px;
  width:164px;
  height:40px;
}
#u57_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57.selected {
}
#u58 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:2px;
  top:505px;
  width:164px;
  height:40px;
}
#u59_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u61 {
  position:absolute;
  left:30px;
  top:17px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:1135px;
  top:17px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u65 {
  position:absolute;
  left:1220px;
  top:14px;
  width:46px;
  height:22px;
  color:#FFFFFF;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:195px;
  top:70px;
  width:1105px;
  height:600px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:600px;
}
#u68 {
  position:absolute;
  left:900px;
  top:60px;
  visibility:hidden;
}
#u68_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:300px;
}
#u70 {
  position:absolute;
  left:2px;
  top:142px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:240px;
}
#u71 {
  position:absolute;
  left:24px;
  top:20px;
  width:240px;
  height:240px;
}
#u72 {
  position:absolute;
  left:2px;
  top:112px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:68px;
  top:270px;
  width:152px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
