body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:560px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:20px;
  top:20px;
  width:1130px;
  height:560px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:272px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2379 {
  position:absolute;
  left:37px;
  top:31px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:2px;
}
#u2381 {
  position:absolute;
  left:20px;
  top:67px;
  width:572px;
  height:1px;
}
#u2382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383 {
  position:absolute;
  left:34px;
  top:129px;
  width:991px;
  height:116px;
}
#u2384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:30px;
  text-align:center;
}
#u2385 {
  position:absolute;
  left:2px;
  top:7px;
  width:308px;
  word-wrap:break-word;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u2386 {
  position:absolute;
  left:312px;
  top:0px;
  width:233px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2387 {
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:30px;
}
#u2388 {
  position:absolute;
  left:545px;
  top:0px;
  width:441px;
  height:30px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2389 {
  position:absolute;
  left:2px;
  top:7px;
  width:437px;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:40px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:30px;
  width:312px;
  height:40px;
  text-align:center;
}
#u2391 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u2392 {
  position:absolute;
  left:312px;
  top:30px;
  width:233px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2393 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:40px;
}
#u2394 {
  position:absolute;
  left:545px;
  top:30px;
  width:441px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2395 {
  position:absolute;
  left:2px;
  top:12px;
  width:437px;
  word-wrap:break-word;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:41px;
}
#u2396 {
  position:absolute;
  left:0px;
  top:70px;
  width:312px;
  height:41px;
  text-align:center;
}
#u2397 {
  position:absolute;
  left:2px;
  top:12px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:41px;
}
#u2398 {
  position:absolute;
  left:312px;
  top:70px;
  width:233px;
  height:41px;
  text-align:center;
}
#u2399 {
  position:absolute;
  left:2px;
  top:12px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:41px;
}
#u2400 {
  position:absolute;
  left:545px;
  top:70px;
  width:441px;
  height:41px;
  text-align:center;
}
#u2401 {
  position:absolute;
  left:2px;
  top:12px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2402 {
  position:absolute;
  left:34px;
  top:82px;
  width:70px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2403 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2404 {
  position:absolute;
  left:118px;
  top:82px;
  width:70px;
  height:35px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2405 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u2406 {
  position:absolute;
  left:686px;
  top:159px;
  width:110px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:42px;
}
#u2407 {
  position:absolute;
  left:20px;
  top:538px;
  width:306px;
  height:42px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:13px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u2409 {
  position:absolute;
  left:726px;
  top:544px;
  width:134px;
  height:30px;
}
#u2410 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411 {
  position:absolute;
  left:806px;
  top:159px;
  width:110px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
