body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:35px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:35px;
  top:0px;
  width:110px;
  height:35px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:106px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u93 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u94 {
  position:absolute;
  left:1045px;
  top:0px;
  width:35px;
  height:35px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u95 {
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:35px;
  top:127px;
  width:909px;
  height:95px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u99 {
  position:absolute;
  left:129px;
  top:0px;
  width:129px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u101 {
  position:absolute;
  left:258px;
  top:0px;
  width:129px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u103 {
  position:absolute;
  left:387px;
  top:0px;
  width:129px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u105 {
  position:absolute;
  left:516px;
  top:0px;
  width:129px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u107 {
  position:absolute;
  left:645px;
  top:0px;
  width:129px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u109 {
  position:absolute;
  left:774px;
  top:0px;
  width:130px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u111 {
  position:absolute;
  left:0px;
  top:30px;
  width:129px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u113 {
  position:absolute;
  left:129px;
  top:30px;
  width:129px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u115 {
  position:absolute;
  left:258px;
  top:30px;
  width:129px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u117 {
  position:absolute;
  left:387px;
  top:30px;
  width:129px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u119 {
  position:absolute;
  left:516px;
  top:30px;
  width:129px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u121 {
  position:absolute;
  left:645px;
  top:30px;
  width:129px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u123 {
  position:absolute;
  left:774px;
  top:30px;
  width:130px;
  height:30px;
  color:#199ED8;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u125 {
  position:absolute;
  left:0px;
  top:60px;
  width:129px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u127 {
  position:absolute;
  left:129px;
  top:60px;
  width:129px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u129 {
  position:absolute;
  left:258px;
  top:60px;
  width:129px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u131 {
  position:absolute;
  left:387px;
  top:60px;
  width:129px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u133 {
  position:absolute;
  left:516px;
  top:60px;
  width:129px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u135 {
  position:absolute;
  left:645px;
  top:60px;
  width:129px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u137 {
  position:absolute;
  left:774px;
  top:60px;
  width:130px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:35px;
  top:75px;
  width:85px;
  height:31px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:190px;
  top:82px;
  width:71px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:271px;
  top:79px;
  width:109px;
  height:22px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u143_input:disabled {
  color:grayText;
}
